:root {
  --light-brown: hsl(26, 5%, 28%);
  --lighter-brown: hsl(26, 5%, 48%);
  --mobile-breakpoint-plusone: 450px;
  --paper: hsl(60, 33%, 96%);
  --cyan: hsl(180, 100%, 27%);
	--purple: hsl(250, 50%, 47.5%);
  --sans: 'Alegreya Sans', sans-serif;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url('/public/static/fonts/AlegreyaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
}

*:focus {
  outline: none;
}

html,
body,
h1,
h2,
p,
form,
input,
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--paper);
  font-family: var(--sans);
  font-size: 1.2rem;
  line-height: 1.4;
}

.container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  position: relative;
}

p {
  color: var(--light-brown);
  font-family: var(--sans);
  text-align: center;
}

l-m {
	text-decoration: none;
	white-space: nowrap;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.62rem;
  width: 100%;
}

button,
input {
  border: 1px solid var(--light-brown);
  border-radius: 0.25rem;
  height: 2.6rem;
  padding: 0.5rem;
}

input[type="email"] {
  color: var(--cyan);
  font-family: var(--sans);
  font-size: 1.2rem;
  margin: 0.62rem 0;
  text-align: center;
}

button[type="submit"] {
  background-color: var(--light-brown);
  color: var(--paper);
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

input::placeholder {
  color: var(--lighter-brown);
}

.nowrap {
	white-space: nowrap;
}

.lists {
  height: 0;
  visibility: hidden;
}

.hide-message .message {
  display: none;
}

@media screen and (min-width: 450px) {
  form {
    display: block;
    width: auto;
  }

  input[type="email"] {
    margin: 0.6rem 0.25rem 0 0;
    width: 18rem;
  }

  button[type="submit"] {
    margin: 0.6rem 0 0 0.25rem;
    width: auto;
  }
}

body.newsletter-page .container {
	align-items: flex-start;
}
body.newsletter-page  p,
body.newsletter-page input[type=email] {
	text-align: left !important;
}
body.homepage {
	padding: 1rem;
	background-color: var(--purple);
}
body.homepage p {
	color: var(--paper);
}
body.homepage button {
	border: 1px solid var(--paper);
}
p.message {
	text-align:left;
}
